.alert-list{
  background: #f0f2f5;
  padding: 10px 5px;
  .header{
    display: flex;
    .legend{
      margin-left: auto;
    }
    margin-bottom: 5px;
  }
}
.alert-list-layout{
  .title{
    color: #333;
    font-weight:600;
    font-size: 16px;
    padding-bottom: 6px;
    .total{
      color: #999;
      margin-left: 15px;
      font-size: 12px;
    }
  }
}