.legend-list{
  display: flex;
  align-items: center;
  justify-content: center;
  >.legend-item{
    margin-left: 10px;
    .shape{
      width: 10px;
      height: 10px;
      display: inline-block;
    }
    .text{
      font-size: 12px;
      font-weight: 500;
      margin-left: 3px;
    }
  }
}
