.widget {
    width: 100%;
    height: 100%;
    &:hover {
        z-index: 3;
    }
    :global {
        .ant-spin-nested-loading, .ant-spin-container {
            width: 100%;
            height: 100%;
        }
    }
}