.container {
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow: hidden;
    display: flex;
    padding: 20px 32px 12px;

    .box {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        background-color: #fff;
        padding: 40px 48px 28px;
        display: flex;
        flex-direction: column;
        min-height: 0;

        .stepsContent {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-height: 0;

            .desc {
                margin: 24px 24px 12px;
                font-weight: 400;
                font-size: 14px;
                color: rgb(16, 16, 16);
                text-align: center;
            }
    
            .content {
                border-radius: 12px;
                min-height: 0;
                flex: 1 1 auto;
            }
        }
    
        .stepsAction {
            margin-top: 24px;
        }
    
    }
    
}