.compareIndicesProgress {
  margin-top: 4px;
  .header {
    font-weight: 900;
    font-size: 14px;
    color: #101010;
    line-height: 24px;
    height: 24px;
  }

  .partition {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    max-height: 210px;
    overflow-y: scroll;

    .box {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
.pop-info {
  .ant-descriptions-item .ant-descriptions-item-content,
  .ant-descriptions-item .ant-descriptions-item-label {
    color: #fff !important;
  }
  .ant-descriptions-row > th, .ant-descriptions-row > td {
    padding-bottom: 5px;
  }
}

.info-tip {
  z-index: 10;
  .ant-tooltip-inner {
    min-width: fit-content;
    padding: 10px 0 10px 15px;
  }
}
