.extraImg {
  margin-top: -60px;
  text-align: center;
  width: 195px;
  img {
    width: 100%;
  }
}

.pageHeaderContent {
  position: relative;
}

.contentLink {
  margin-top: 16px;
  a {
    margin-right: 32px;
    img {
      width: 24px;
    }
  }
  img {
    vertical-align: middle;
    margin-right: 8px;
  }
}

.steps {
  :global {
    .ant-card-body {
      padding: 0;
    }
  }

  .header {
    height: 50px;
    border-bottom: 1px solid rgba(240, 242, 245, 1);
    line-height: 50px;
    padding: 0 12px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(38, 38, 38, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    padding: 60px 0px;
  }
}
