.tab-title{
  display: inline-block;
  height: 30px;
  overflow: hidden;
  .input-eidtor{
    border-radius: 0;
    border:none;
    // border-bottom: 1px solid #ccc;
    border-right: none;
    padding-left: 1em;
    color:rgba(0, 0, 0, 0.65);
    height: 28px;
    line-height: 28px;
    background-color: #939ea0;
    color: #fff;
    &:focus{
      outline: none;
    }
  }
  .icon-cont{
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

#console{
  .ant-tabs-bar{
    margin: 0px 0 5px 0;
  }
}
