.dscPage {
  flex-direction: column;
  overflow: hidden;
  padding: 0;

  .dscPageBody {
    overflow: hidden;
  }
}

.dscPageBody__inner {
  overflow: hidden;
  height: 100%;
}

.dscPageBody__contents {
  overflow: hidden;
  padding-top: 3; // A little breathing room for the index pattern button
}

.dscPageContent__wrapper {
  padding: 0 5 5 0;
  overflow: hidden; // Ensures horizontal scroll of table
  box-shadow: 0 2px 2px -1px rgb(152 162 179 / 30%), 0 1px 5px -2px rgb(152 162 179 / 30%);
  //  border: 1px solid #D3DAE6;
    border-radius: 4px;
    flex-grow: 1;
}

.dscPageContent {
  //border: $euiBorderThin;
  // text-align: center;
  box-shadow: none !important;
  .euiDataGrid--fullScreen{
    z-index: 801;
  }
  position: relative;
}

// .dscPageContent,
// .dscPageContent__inner {
//   height: 100%;
// }

.dscPageContent--centered {
  height: auto;
}

.dscResultCount {
  padding: 3;
  min-height: 9;
}

.dscTimechart {
  display: block;
  position: relative;

  // SASSTODO: the visualizing component should have an option or a modifier
  .series > rect {
    fill-opacity: .5;
    stroke-width: 1;
  }
}

// .dscHistogram {
//   display: flex;
//   height: 10 * 12.5;
//   padding: 5;
// }

// // new slimmer layout for data grid
// .dscHistogramGrid {
//   display: flex;
//   height: 10 * 8;
//   padding: 5 5 0 5;
// }
.euiDataGrid--headerUnderline .euiDataGridHeaderCell {
  border-bottom: 1px solid #D3DAE6 !important;
  border-top: none !important;
}
.dscSidebar{
  .euiButton--text, .euiButton--text:hover{
    background-color: #fff;
  }
}

.sidebar-list{
  max-width: 200px;
}

.euiSuperUpdateButton.euiButton--success {
  background-color: #017D73 !important;
  border-color: #017D73 !important;
  color: #FFF !important;
  border-radius: 0 !important;
}

.dscOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding-top: 80px;

  opacity: 0.75;
  text-align: center;
  background-color: transparent;
}

.kbnQueryBar__wrap{
  box-shadow: none;
}