.arrow-splitor{
  display: flex;
  align-items: center;
  justify-content: center;
  &>.left{
    flex: 1 1 auto;
    background: #448EF7;
    height: 3px;
  }
  &>.arrow{
    flex: 0 0 10px;
    color: #448EF7;
    margin-top: -6px;
    &.la {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      margin-top: 6px;
    }
  }
}