.Console {
  position: relative;
  width: 100%;
  height: calc(100vh);
  display: flex;

  .ConsoleInput_wrapper {
    flex: 1;
    min-width: 0;
  }

  .ConsoleOutput_wrapper {
    width: 50%;
  }

  .resizer {
    position: relative;
    z-index: 999;
    width: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafbfd;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    cursor: col-resize;

    &:hover {
      background-color: #cce1f0;
    }
  }
  .ant-tabs-right-content{
    padding-right: 0px;
  }
  .ant-tabs-right-bar .ant-tabs-tab{
    padding: 8px 10px;
    writing-mode: vertical-lr;
    height: max-content;
  }
}
