.layout{
  // display: flex;
  .left{
    // display: flex;
    // flex: 1 1 60%;
    // flex-direction: column;
    .state-count{
      display: flex;
      justify-content: space-between;
      .item{
        min-width: 30%;
        .title {
          padding-bottom: 10px;
          border-bottom: 1px solid #eef1f4;
        }
        .total {
            font-size: 40px;
        }
        .unit {
            color: #767676;
            font-size: 12px;
            font-weight: normal;
        }     
      }
      margin-bottom: 10px;
    }
    .alertlist-item{
      margin-top: 20px;
    }
  }
  .charts{
    display: flex;
    margin-top: 25px;
    >.chart{
      flex: 1 1 50%;
    }
  }
  .right{
    flex: 1 1 40%;
  }
}

.overview-wrapper {
  padding: 20px;
  background-color: #fff;
}