.search-filter {
  height: 100%;
  .search-filter-title {
    font-weight: bold;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-filter-reset {
    cursor: pointer;
  }
  .facet-cnt {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
