.request-status-bar{
  height: 100%;
  .bar-item{
    height: 100%;
    .base-info{
      display: flex;
      font-size: 12px; 
      align-items: center;
      margin-top: 2px;
      .info-item{
        margin: 0 12px;
        position: relative;
        flex: 0 0 auto;
        &.health{
          padding-right: 14px;
        }
      }
    }
    .status_info{
      display: flex;
      font-size: 12px;
      align-items: center;
      .info-item{
        margin: 0 12px;
      }
    }
  }
}