
.statistic {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 43px;
  
  .ant-statistic-content-prefix {
    display: flex;
    align-items: center;
  }
  &.maskFilter {
    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
  }
}
.mask {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  z-index: 1;
  flex-direction: column;
}
