//Tips: When updating this color value, `./color.jsx` needs to be updated synchronously
//common color
$white: white;
$black: black;
$green: #00bb1b;
$yellow: #fcca00;
$red: #ff4d4f;
$gray: #bbbbbb;
$unavailable: #d8d8d8;
