.refresh {
  display: flex;
  align-items: center;
  height: 50px;

  .text {
    height: 32px;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    padding: 0 8px;
    border: 1px solid #d9d9d9;
  }

  .ant-input-number,
  .ant-select-selection,
  .ant-btn {
    border-radius: 0;
  }
}
