.resize-bar{
  display: flex;
  height: 10px;
  background: #eee;
  margin-top: -5px;
  // border-top: 1px solid #bbb;
  align-items: center;
  justify-content: center;
  .dash{
    height: 1px;
    width: 16px;
    background: #666;
    margin-top: 1px;
  }
}