.topn {
  .header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    
    .mode {
      width: 88px;
      :global {
        .ant-radio-button-wrapper {
          width: 42px;
          padding: 0 13px;
        }
      }
    }
  }
}