.anchor-sticky-tabs.ant-tabs .ant-tabs-right-content {
  overflow: visible;
}

.p-anchor {
  position: relative;
  width: 30px;
  flex: 0 0 30px;
  align-self: flex-start;
  box-sizing: border-box;
}

.c-anchor {
  position: fixed;
  width: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
  z-index: 2;

  .ant-timeline-item-head {
    width: 12px;
    height: 12px;
    border: 1px solid;
  }

  .ant-timeline-item-tail {
    left: 6px;
  }

  .ant-timeline-item-head-blue {
    position: relative;
  }

  .ant-timeline-item-head-blue::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;
    background-color: #1890ff;
    border-radius: 50%;
  }
}
