.overview{
    :global(.ant-descriptions-row){
        border-bottom: none;
    }
    :global(.ant-descriptions-item-label){
    border-right: none;
    background-color: #fff;
    font-weight: bold;
    }
    :global(.ant-descriptions-view){
    border: none;
    }
    :global(.ant-descriptions-item-content){
        color: #333;
    }
    .light{
        color: #666;
    }
}

.clusterItemCard {
    text-align: center;
}