.bar {
    position: absolute;
    right: 0px;
    top: 52px;
    display: inline-flex;
    align-items: center;

    .exportActions {
        display: flex;
        align-items: center;
    }

    :global {
        .anticon {
            color: #006BB4;
            padding: 4px;
            font-size: 16px;
            line-height: 1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: 4px;
            cursor: pointer;
        }
    }
}
