.btn-ds, .btn-ds:hover{
  min-width: 150px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #333;
  text-align: left;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  border-radius: 0;
  margin-left: 15px;
  position: relative;
  bottom: 8px;
  span{
    color: #333;
  }
}

.dropmenu{
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
  padding: 20px;
  width: 500px;
  background: #fff;
  .item{
    display: block;
    float: left;
  }
  .btnitem{
    border-radius: 0px;
    width: 100px;
  }
}

.infiniteContainer {
  overflow: auto;
  overflow-x: hidden;
  max-height: 300px;
}
.loadingContainer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}