@import "@/components/Overview/common.scss";

.card-index {
  .card-item {
    .card-metadata {
      width: 70% !important;
      min-width: 628px !important;
      .card-metadata-info {
        min-width: 608px !important;
      }
      .cluster-metric {
        min-width: 140px;
        margin-right: 12px;
        .value {
          max-width: 140px;
        }
        .cluster-value {
          display: inline-block;
          max-width: 140px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .card-chart {
      width: 30% !important;
      min-width: 240px !important;
    }
  }
}
