.finish {
    height: 100%;

    .panels {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .panel {
        width: 100%;
        max-width: 860px;
        margin: auto;
    }

    .pendingAlert {
        text-align: center;

        :global(.ant-alert-message) {
            white-space: nowrap;
        }
    }

    .statusAlert {
        text-align: left;
    }

    .configTable {
        text-align: center;
    }

    .tipsAlert {
        text-align: center;
    }
    
    .success {
        font-size: 46px;
        color: #007fff;
    }

    .title {
        font-weight: 400;
        font-size: 14px;
        color: rgb(16, 16, 16);
    }

    .config {
        width: 60%;
    }

    :global {
        .ant-result {
            padding: 0;
            height: 100%;

            .ant-result-icon {
                margin-bottom: 0
            }

            .ant-result-title {
                margin-top: 8px;
                margin-bottom: 0;
            }

            .ant-result-subtitle {
                margin-top: 6px;
            }

            .ant-result-content {
                margin-top: 16px;
                padding: 0 10%;
                background: transparent;
            }
            
            .ant-result-extra {
                margin-top: 24px;
                .ant-btn {
                    width: 250px;
                }
            }
        }

        .ant-descriptions-small .ant-descriptions-row > th,
        .ant-descriptions-small .ant-descriptions-row > td {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}